<ul class ="nav">
	<li><%= link_to 'Dashboard', tickets_path %></li>
	<li><%= link_to 'Submit', new_ticket_path %></li>
	<li><%= link_to "Closed Tickets", closed_tickets_path, :remote => true %></li>
</ul>

<div class="form-panel ticket-table" id="main-table"> 
	<%= render partial: 'index', locals: {tickets: @tickets} %>
</div>
<img src="/images/loading.gif" style="display:none" id="ticket-loading">
