<div class="form-panel">
	<h2>Ticket Summary:</h2>
	<div>
		<b>Title: </b>
		<%= @ticket.title %> 
	</div>
	<div>
		<b>Application: </b>
		<%= @ticket.application %>
	</div>
	<div>
		<b>Summary: </b>
		<%= @ticket.summary %> 
	</div>
</div>