// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text_radius: 5px;
$main_background: #33D996;
$accent_bg: #249869;
$heading_text: #6B0024;
$content_radius: 10px;

.inputs {
	margin-bottom:10px;
}
.sidebar {
	background:$accent_bg;
	position:fixed;
	top:0;
	left:0;
	width:200px;
	height:100%;
	font-family: "Calibri";
	font-size:11px;
	a {
		text-decoration:none;
		color:white;
		margin-left:20px;
	}
}
.user-link {
	border: 1px solid white;
	-webkit-border-radius:$text_radius;
	-moz-border-radius:$text_radius;
	border-radius:$text_radius;
	width:60%;
	margin-left:20px;
}
.error {
	display:none;
	color:$heading_text;
	font-size:11px;
}
.flash {
	color:$heading_text;
	font-size:11px;
}
.frm-ctrl {
	display:block;
}
.txt {
	-moz-border-radius:$text_radius;
	-webkit-border-radius:$text_radius;
	border-radius:$text_radius;
}
#ticket_summary {
	-moz-border-radius:$text_radius;
	-webkit-border-radius:$text_radius;
	border-radius:$text_radius;
	resize:none;
	outline:none;
	width:100%;
	height:200px;
}
.form-panel {
	margin-left:200px;
	margin-top:150px;
	width:800px;
	background:$accent_bg;
	padding:20px 20px 20px 20px;
	-moz-border-radius:$content_radius;
	-webkit-border-radius:$content_radius;
	border-radius:$content_radius;
}
body {
	background:$main_background
}
.form-panel {
	.txt {
		width:100%;
	}
}
h2 {
	font-family:"Calibri";
	font-size:24px;
	color:$heading_text;
}
h3 {
	font-size:14px;
	margin-top:-10px;
	font-family:"Calibri";
}
.nav {
	list-style-type:none;
	top:-20;
	left:-20;
	margin-left:260px;
	margin-bottom:-2px;
	display:inline-block;
	li {
		width:100px;
		display:inline;
		background:#457272;
		-webkit-border-radius:$text_radius;
		-moz-border-radius:$text_radius;
		border-radius:$text_radius;
		border: 1px solid black;
		margin-right:-5px;
	}
	a {
		text-decoration:none;
		color:$heading_text;
		margin-left:20px;
		margin-right:20px;
	}
}
.col {
	display:table-cell;
	border: solid black 1px;
	padding-left:20px;
	padding-right:20px;
	color: #4C0066;
	font-family:"Calibri";

}
.row {
	display:table-row;
}
.btn {
	width:60px;
	height:20px;
	border-radius:$text_radius;
	display:inline-block;
	&.btn-main {
		background:#7AA3CC;
	}
	&.btn-warn {
		background:#FFCC00;
	}
	&.btn-cancel {
		background: #B8005C;
	}
}
.btn.lg {
	width:140px;
	height:25px;
}
.tbl {
	display:table;
}
.ticket-table {
	width:1024px;
	margin-left:280px;
	margin-top:0px;
}
#ticket-summary {
	height:200px;
	background:$main-background;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: 1px solid grey;
	box-shadow: 5px 5px 10px grey;	
}

table {
	border-collapse:collapse;
	margin: 0 20px 20px 20px
}
